{% extends 'base.html' %}

{% load static %}



{% block page_content %}

    <style>
        .container-comment{
            box-shadow: #1b1b1b 4px 4px 10px;
            background-color: whitesmoke;
            align-self: center;
            width: 500px;
            margin: 15px;
        }

        .comment-content{
            margin: 5px;
        }

        .comment-details{
            display: flex;
            justify-content: space-between;
            height: 60px;
            margin: 5px;
        }

        .comment-details-left{
            display: flex;
            flex-direction: row;
            height: 59px;
        }

        .comment-user-img{
           height: 55px;
            width: 55px;
            object-fit: cover;
            border-radius: 50%;
            margin: 2% 0 3% 0;
        }

        .comment-user-name{
            margin: auto 5px;
        }

        .edit-delete-comment{
            display: flex;
            align-self: flex-end;
            width: 120px;
            height: 20px;
            text-align: center;
        }

        .edit-comment{
            flex: 1;
            margin: 0 5px;
            background-color: limegreen;
            text-decoration: none;
        }

        .delete-comment{
            flex: 1;
            margin: 0 5px;
            background-color: red;
            text-decoration: none;
        }

        .comment-details-right{
            display: flex;
            flex-direction: column;
        }

        .comment-likes-details{
            padding-right: 5px;
            align-self: end;
        }

        .comment-likes-count{
            color: black;
            font-weight: bold;
            font-size: 18px;
            vertical-align: top;
            padding: 0 6px 0 6px;
            border: black 1px solid;
            border-radius: 50%;
        }

        .comment-data-created{
            font-size: 12px;
        }

        .add_comment-and-delete-and-edit-button{
            margin: 15px;
            padding: 10px;
            font-weight: bold;
            align-self: center;
            background-color: white;
            color: black;
            text-align: center;
            box-shadow: #1b1b1b 4px 4px 10px;
        }

        .delete-edit-container{
            align-self: center;
            margin: 35px ;
        }



    </style>

    <div class="main-container">
{#        TODO - optimize CSS below#}
        <div class="central-container" style="border: none; box-shadow: none; background-color: white; padding-bottom: 100px">
            <div class="container-items">
                <p class="topic-title">
                    {{ article.title }}
                </p>
                <p class="topic-content">
                    {{ article.content }}
                </p>
                <p class="topic-author">
                    author: {{ article.user.first_name }} {{ article.user.last_name }}
                </p>
                <div class="status-topic">
                    <div class="status-data-left">{{ article.likes }}</div>
                        <a href="{% url 'likes' article.id %}"><img class="like-button" src="{% static 'icons/like.png' %}"></a>
                    <div class="status-data-left">{{ article.comments|length }}</div>
                        <a href="{% url 'create-comment' article.id %}"><img class="like-button" src="{% static 'icons/comment-black.png' %}"></a>
                    <div class="status-data-right">{{ article.date_created }}</div>
                </div>
            </div>

            {% if user.id == article.user.id %}
                <div class="delete-edit-container">
                <a href="{% url 'edit-article' article.pk %}"
                    class="add_comment-and-delete-and-edit-button"
                    style="background-color: green">
                    EDIT ARTICLE</a>
                <a href="{% url 'delete-article' article.pk %}"
                    style="background-color: red"
                    class="add_comment-and-delete-and-edit-button">
                    DELETE ARTICLE</a>
                </div>
            {% endif %}

            <a href="{% url 'create-comment' article.pk %}"
                    class="add_comment-and-delete-and-edit-button">
                Add Comment</a>

        {# Start loop for all article's coments   #}
            {% for comment in comments %}
                <div class="container-comment">
                    <div class="comment-content">
                        {{ comment.content }}
                    </div>
                    <div class="comment-details">
                        <div class="comment-details-left">
                            <div >
                                <img class="comment-user-img" src="{{ comment.user.profile.profile_img.url }}">
                            </div>
                            <div class="comment-user-name">
                                {{ comment.user.username }}
                            </div>
                        </div>
                        {# delete comment if request.user is author of current comment or is author of article where is posted current comment#}
                        {% if request.user == comment.user %}
                            <div class="edit-delete-comment">
                                <a class="edit-comment" href="{% url 'edit-comment' pk=comment.id %}">edit</a>
                                <a class="delete-comment" href="{% url 'delete-comment' pk=comment.id %}">delete</a>
                            </div>
                        {% elif request.user == comment.post_article.user %}
                            <div class="edit-delete-comment">
                                <a class="delete-comment" href="{% url 'delete-comment' pk=comment.id %}">delete</a>
                            </div>
                        {% endif %}
                        <div class="comment-details-right">
                            <div class="comment-likes-details">
                                <a href="{% url 'like_comment' comment.id %}">
                                    <img class="like-button" src="{% static 'icons/like.png' %}">
                                </a>
                                <span class="comment-likes-count">{{ comment.likes }}</span>
                            </div>
                            <div>
                                <span class="comment-data-created">{{ comment.time_ago }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}