{% extends 'base.html' %}

{% load static %}

{% block page_content %}

    <div class="main-container">
        <div class="left-container">
            <p class="container-name">
                Topics
            </p>
            <p class="p-container">
                <a class="topic-link" href="{% url 'home' %}">
                ALL
            </a>
            </p>
            {% for topic in topics %}
                <p class="p-container">
                <a class="topic-link" href="{% url 'article-by-topic' pk=topic.id %}">
                {{ topic }}
            </a>
            </p>
            {% endfor %}
        </div>

        <div class="central-container">

            <p class="container-name">
                {{ title_for_articles_container }}
            </p>

            {% for article in articles_paginator %}
                <div class="container-items">
                    <p class="topic-title">
                        <a style="color: black" href="{% url 'article-details' article.id %}">{{ article.title }}</a>
                    </p>
                    <p class="topic-content">
                        {{ article.content|truncatechars:400 }}
                    </p>
                    <p class="topic-author">
                        author: <b>{{ article.user.profile.full_name }}</b>
                    </p>
                    <div class="status-topic">
                        <div class="status-data-left">{{ article.likes }}</div>
                            <a href="{% url 'likes' article.id %}"><img class="like-button" src="{% static 'icons/like.png' %}"></a>
                        <div class="status-data-left">{{ article.comments|length }}</div>
                            <a href="{% url 'create-comment' article.id %}"><img class="like-button" src="{% static 'icons/comment-black.png' %}"></a>
                        <div class="status-data-right">{{ article.date_created }}</div>
                    </div>
                </div>
            {% endfor %}

            <br/><br/>
            <div style="position: absolute; align-self: center; bottom: 10px; font-size: 15px; ">
                {% if articles_paginator.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{articles_paginator.previous_page_number}}">Previous</a>
                {% endif %}

                Page {{ articles_paginator.number }} of {{ articles_paginator.paginator.num_pages }}

                {% if articles_paginator.has_next %}
                    <a href="?page={{articles_paginator.next_page_number}}">Next</a>
                    <a href="?page={{ articles_paginator.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>

        </div>

        <div class="right-container">

            <p class="container-name">
                Profiles
            </p>

            {% for profile in profiles %}
                <div class="profile-container">
                    <div class="profile-details">
                        <div class="profile-data">
                            <div class="profile-data-element">
                                Name: {{ profile.first_name }}
                            </div>
                            <div class="profile-data-element">
                                Family-name: {{ profile.last_name }}
                            </div>
                            <div class="profile-data-element">
                                city: {{ profile.city }}
                            </div>
                            <div class="profile-data-element">
                                profession: {{ profile.profession }}
                            </div>
                        </div>
                        <div class="profile-img-container">
                            <a href="{%  url 'profile-details' profile.id %}"><img class="profile-img" src="{{ profile.profile_img.url }}"></a>
                        </div>
                    </div>

                    <div class="profile-statistic">
                        <span class="statistic-details">
                            {{ profile.all_post_articles}} <img class="statistic-icon" src="{% static 'icons/topic.jpg'%}">
                        </span>
                        <span class="statistic-details">
                            {{ profile.all_comments }} <img class="statistic-icon" src="{% static 'icons/comment.png'%}">
                        </span>
                        <span class="statistic-details">
                            {{ profile.received_likes }} <img class="statistic-icon" src="{% static 'icons/white-like-.png'%}">
                        </span>
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}

