{% extends 'base.html' %}

{% load static %}

{% block page_content %}

    <div class="main-container">
        <div class="left-container">
            <p class="container-name">
                Topics
            </p>
            <p class="p-container">
                <a class="topic-link" href="#">
                ALL
            </a>
            </p>
            {% for topic in topics %}
                <p class="p-container">
                <a class="topic-link" href="#">
                {{ topic }}
            </a>
            </p>
            {% endfor %}
        </div>

        <div class="central-container">

            <p class="container-name">
                Latest Posts
            </p>

            {% for article in articles %}
                <div class="container-items">
                    <p class="topic-title">
                        <a style="color: black" href="{% url 'article-details' article.id %}">{{ article.title }}</a>
                    </p>
                    <p class="topic-content">
                        {{ article.content|truncatechars:400 }}
                    </p>
                    <p class="topic-author">
                        author: {{ article.user.first_name }} {{ article.user.last_name }}
                    </p>
                    <div class="status-topic">
                        <div class="status-data-left">{{ article.likes }}</div>
                            <a href="{% url 'likes' article.id %}"><img class="like-button" src="{% static 'icons/like.png' %}"></a>
                        <div class="status-data-left">{{ article.comments|length }}</div>
                            <a href="{% url 'create-comment' article.id %}"><img class="like-button" src="{% static 'icons/comment-black.png' %}"></a>
                        <div class="status-data-right">{{ article.date_created }}</div>

                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="right-container">

            <p class="container-name">
                Profiles
            </p>

            {% for profile in profiles %}

                            <div class="profile-container">
                <div class="profile-details">
                    <div class="profile-data">
                        <div class="profile-data-element">
                            Name: {{ profile.first_name }}
                        </div>
                        <div class="profile-data-element">
                            Family-name: {{ profile.last_name }}
                        </div>
                        <div class="profile-data-element">
                            city: {{ profile.city }}
                        </div>
                        <div class="profile-data-element">
                            profession: {{ profile.profession }}
                        </div>
                    </div>
                    <div class="profile-img-container">
                        <img class="profile-img" src="{{ profile.profile_img.url }}">
                    </div>
                </div>

                <div class="profile-statistic">
                    <span class="statistic-details">
                        14 <img class="statistic-icon" src="{% static 'icons/topic.jpg'%}">
                    </span>
                    <span class="statistic-details">
                        14 <img class="statistic-icon" src="{% static 'icons/comment.png'%}">
                    </span>
                    <span class="statistic-details">
                        14 <img class="statistic-icon" src="{% static 'icons/white-like-.png'%}">
                    </span>
                </div>

            </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}

