{% extends 'base.html' %}

{% load static %}

{% block page_content %}



    <style>
        .user-form {
            display: flex;
            flex-direction: column;
            margin: 65px auto 40px auto;
            padding: 20px;
            width: 350px;
            box-shadow: #1b1b1b 5px 5px 15px;
            background-color: whitesmoke;
        }

        .title-registration-box{
            background-color: #9A9DF7;
            text-align: center;

        }

        input{
            width: 250px;
            height: 30px;
            margin: 10px 0;
            align-self: center;
            font-size: 18px;
        }

        input:focus {
          background-color: white;
            border: #1b1b1b 2px solid;
            box-shadow: #1b1b1b 5px 5px 5px;
        }

        .label{
            font-size: 18px;
            }

        .registrate-button {
            width: 100%;
            background-color: #9A9DF7;
            color: black;
            font-size: 18px;
            padding: 14px 20px;
            margin: 8px 0;
            border-radius: 4px;
            box-shadow: #1b1b1b 3px 3px 5px;
            cursor: pointer;
        }

        .registrate-button:hover {
            color: white;
            box-shadow: #1b1b1b 10px 10px 15px;
            background-color: forestgreen;
        }

        .link-in-registration-box{
            margin-top: 12px;
            text-align: center;
            color: black;
            font-size: 14px;
            transition: transform 0.1s;
        }

        .link-in-registration-box:hover{
            transform: scale(1.5);
        }

    </style>

     <form class="user-form"  method="post" enctype="multipart/form-data">
         <h2 class="title-registration-box">{{ title }} FORM</h2>
         {% csrf_token %}
         {% for field in form %}
             <span class="label">
                {{ field.label }}
             </span>
             {{ field }}
         {% endfor %}

         <button class="registrate-button" type="submit" >{{ title }}</button>
        {% if title == 'REGISTRATION' %}
            <a class="link-in-registration-box" href="{% url 'login' %}">login</a>
        {% elif title == 'LOGIN' %}
            <a class="link-in-registration-box" href="{% url 'signup' %}">registrate now</a>
        {% endif  %}


{% endblock %}