    .main-container{
        display: flex;
        flex-direction: row;
        min-height: 80%;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 45px;

    }

    .left-container{
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        background-color: whitesmoke;
        flex: 0.7;
        margin-left: 14px;
        padding-bottom: 15px;
        max-height: 685px;
        box-shadow: black 2px 2px 15px 1px;

    }

    .central-container{
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        background-color: whitesmoke;
        flex: 3;
        margin-left: 20px;
        max-height: 700px;
        box-shadow: black 2px 2px 15px 1px;
    }

    .right-container{
        background-color: whitesmoke;
        flex: 1;
        margin-left: 20px;
        margin-right: 14px;
        max-height: 700px;
        box-shadow: black 2px 2px 15px 1px;

    }

    .container-items{
        width: 90%;
        border-radius: 8px;
        background-color: lightblue;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        padding: 3px;
        border: 1px solid;
        box-shadow: 2px 2px 2px;
        text-align: center;
    }

    .topic-title{
        font-weight: bold;

    }

    .topic-content{
        font-size: 16px;
        color: black;
        background-color: white;
    }

    .topic-author{
        text-align: right;
        margin: 0;
        padding: 0;
    }

    .status-topic {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        color: black;
        background-color: white;
    }

    .status-data-left{
        margin-top: 2px;
        margin-bottom: 1px;
        margin-left: 4px;
        padding: 1px 3px;
        border-radius: 12px;
        color: black;
        border: black 1px solid;
    }

    .like-button{
        height: 26px;
        margin-right: 5px;
        margin-left: 3px;
        margin-top: 1px;
    }

    .status-data-right{
        margin-top: 7px;
        margin-right: 3px;
        flex: 1;
        text-align: right;
    }