{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Forum</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile-container.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/topics.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>

    </head>

    <body>

        <div class="navbar">
                <div class="left-side">

                    <div class="dropdown">
                      <span><img class="hamburger-menu-icon"
                         src="{% static 'icons/hamburger-menu.png' %}" alt="NO IMAGE, NO IMAGE, NO IMAGE"></span>
                      <div class="dropdown-content">
                          <p>Hello World!</p>
                          <p><a style="color: white" href="{% url 'profile-details' user.profile.id %}">Profile</a></p>
                          <p><a style="color: white" href="{% url 'edit_profile' %}">Edit profile</a></p>
                          <p><a style="color: white" href="{% url 'create_post_article' %}">Create New Article</a></p>
                      </div>
                    </div>

                    <a href="{% url 'home' %}"><img class="home-icon"
                         src="{% static 'icons/home-icon1.png' %}"></a>
                </div>

                <div class="central-side">
                    <img class="logo" src="{% static 'images/logo.PNG' %}">
                </div>

                <div class="right-side">
                    <input class="search-bar" type="text" placeholder="Search">
                    <button class="search-button"><img class="search-button-icon" src="{% static 'icons/search-button.png' %}"></button>
                    {% if user.is_authenticated %}
                        <img class="current-user-image" src="{{ user.profile.profile_img.url }}">
                        <a href="{% url 'logout' %}"><img class="login-logout-link" src="{% static 'icons/logout-icon1.png' %}"></a>
                    {% else %}
                        <img class="current-user-image"
                            src="{% static 'images/no-profile-image.jfif' %}">
                        <a href="{% url 'login' %}"><img class="login-logout-link" src="{% static 'icons/login-icon.png' %}"></a>
                    {% endif %}


                </div>
        </div>

        <div class="container">
            {% block page_content %}

            {% endblock %}
        </div>
        <footer>
            <span class="copyright-content">
                <img class="copyright-symbol" src="{% static 'icons/copyright.png'%}">
                    2022 Kamen Stanchev
            </span>
</footer>
    </body>
</html>